table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        border: 1px solid black;
        margin-bottom: 10px;
        display: block;
    }

    table td {
        border: none;
        border-bottom: 1px solid black;
        display: block;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}
